= label :song, :title, 'Title'
= text_field :song, :title

= label :song, :artist, 'Artist'
= text_field :song, :artist

= label :song, :album, 'Album'
= text_field :song, :album

= label :song, :genre, 'Genre'
= text_field :song, :genre
	
= label :song, :release_date, 'Released on'
= date_select :song, :release_date
